img {
  border: none
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  padding: 0
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited{
  color: white;
  background-color: blue;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "PT Serif", serif;
  padding: 4px;
}

#nav a:hover, #nav a:active{
  color:black;
}

h1, h3 {
    font-family: "Roboto", Helvetica, sans-serif;
    color: white;
  }

p {
    font-family: "Merriweather", serif;
    color: white;
  }

  body{
  	background-color: blue;
    font-family: "PT Serif", serif;
  }
