p {
	color: #666666;
    font-family: Helvetica, Arial, sans-serif;
}

.italic{
	font-style: italic;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
}

body{
	background-color: purple;
}


img {
  border: none
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  padding: 0
}

#nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited{
  color: #ffffff;
  background-color: purple;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: Verdana, Arial, Sans-serif;
  padding: 4px;
}

#nav a:hover, #nav a:active{
  color:black;
}
