img {
  border: none;
  padding: 10px;
}

nav ul{
  	list-style: none;
  	margin: 0;
    padding: 0;
    display: none;
  	flex-flow: column;
}

.navigation{
  list-style: none;
  margin:0;
  background: #1E34F0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.navigation a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  padding: 10px;
  border-bottom: 1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

.navigation a:hover{
  background: black;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  padding: 0
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav a:link, #nav a:visited{
  color: white;
  background-color: #1E34F0;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "PT Serif", serif;
  padding: 4px;
}

#nav a:hover, #nav a:active{
  color:black;
}

h1, h3 {
    font-family: "Roboto", Helvetica, sans-serif;
    color: white;
  }

p {
    font-family: "Merriweather", serif;
    color: white;
  }

  body{
    margin: 0;
  	background-color: #1E34F0;
    font-family: "PT Serif", serif;
  }

  .wrapper{
    background: #1E34F0;
    display: flex;
    flex-flow: column wrap;
  }

.menu-trigger{
  order:1;
  font-size: 1.75em;
  width: 2em;
  background: black;
}

.navigation{
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.navigation a {
  border: none;
}

h1{
display: block;
width: 100%;
order:1;
}

.map-wrapper{
  order:1;
}

.aside-1{
  order:2;
}

.article{
  order:3;
}



/* When greater than 800px wide */
@media screen and (min-width:1000px) {

.map-wrapper {
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }
  .map-wrapper iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }

nav ul{
    display:flex;
    flex-flow: row;
    justify-content: flex-end;
  }

.menu-trigger{
  display:none;
}
.navigation{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
.menu-trigger{
    display: none;
  }

  .navigation a {
    border: none;
  }

.navigation a:hover {
  text-decoration: none;
  background: black;
  text-align: center;
}

  .navigation li:last-of-type a{
    border-bottom: none;
  }

.wrapper{
  display: flex;
  flex-flow: row wrap;
}

.image{
  width:100%;
padding-right: 10px;
}

.aside-1{
  background: #B45200;
}

.aside-2{
  background: #B45200;
}

.lincolnquote{
  background: #7300B4;
}

.aside-1{
  order:1;
}

.article{
  order:2;
}

.map-wrapper{
  order:3;
}

}

@media screen and (min-width:800px) {
  .article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .image {
    grid-area: a;
    width: 100%;
  }

  .lincolnquote {
    grid-area: e;
  }

  .article {
    grid-area: b;
  }

  .section2 {
    grid-area: c;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  .article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b"
        "c d";
  }
}
